<h1>Bienvenue#show</h1>


<form action ="/" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<input type="text" name="first_name">
	<input type="submit" name="Envoyer">
<p>Salut à toi <%= @user.first_name%></p>
